<!DOCTYPE html>
<html>
<head>
  <title>Songs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<%= filepicker_js_include_tag %>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
